.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .logo-wrapper {
        padding-left: 1em;
        align-self: center;
    }

    .nav-button-wrapper {
        padding-right: 1em;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}